* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header {
    background-color: white;
    margin: auto;
    /* height: 84px; */
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    width: 50%;
}
.headerright{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
}
.hnav {
    width: 70%;
}
.hnav ul { 
    display: flex;
    justify-content: space-between;
}
.hnav ul li {
    list-style: none;
}
.head button{
    width: 20%;
    color: #f58A07;
    background-color: rgba(245, 138, 7, 0.22);  
    border-radius: 31px;
    height: 52px;
    cursor: pointer;
    font-weight: 600;
    border: solid white;
}
.headerbot {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
h1 {
    color: #1d3444;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
}
p {
    color: #5b5b5b;
    font-weight: 500;
    font-size: 18px;
}
.back {
    background-color: #dceaf5;
    width: 100%;

}

.main button {
    width: 40%;
    color: #1d3444; 
    background-color: #dceaf5;
    height: 52px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border: #dceaf5;
    border-radius: 27px;
    transition: 0.2s;
}
.main button:hover {
    color: white;
    background-color: #F58A07;
    transition: 0.3s;
}
.logos {
    display: flex;
    justify-content: space-between;
}
.company p { 
    color: rgba(57, 65, 73, 0.5);
    font-weight: 400;
    
}
.logos img {
 width: 25%;
}
h2 {
    color: #1D3444;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}
.poster {
    display: flex;
    justify-content: space-between;
}
.title {
    width: 60%;
}
.card {
    width: 30%;
}
.card img {
    border-radius: 20px;
}
.card p {
    font-size: 16px;
}
.adcard {
    width: 30%;
    background-color: white;
    border-radius: 20px;

}
.adhead {
    display: flex;
    justify-content: space-between;
}
h3 { 
    width: 50%;
    font-size: 24px;
    width: 100%;
    font-weight: 500;
}
h4 { 
    font-weight: 600;
    font-size: 36px;
    width: 50%;
    line-height: 44px;
}
h5 {
font-size: 24px;
font-weight: 600;;
}
.adhead p {
    width: 50%;
    font-size: 18px;
    padding-top: 25px;
}
.card p:last-child::after {
    content: '\2192';
    color: #F58A07;
}
.card p:last-child {
    color: #F58A07;
}
.adcard {
    padding-left: 15px;
}




