* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header {
    background-color: white;
    margin: auto;
    /* height: 84px; */
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    width: 50%;
}
.headerright{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
}
.hnav {
    width: 70%;
}
.hnav ul { 
    display: flex;
    justify-content: space-between;
}
ul li {
    list-style: none;
}
.head button{
    width: 20%;
    color: #f58A07;
    background-color: rgba(245, 138, 7, 0.22);  
    border-radius: 31px;
    height: 52px;
    cursor: pointer;
    font-weight: 600;
    border: solid white;
}
.headerbot {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
h1 {
    color: #1d3444;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
}
p {
    color: #5b5b5b;
    font-weight: 500;
    font-size: 18px;
}
.back {
    background-color: #dceaf5;
    width: 100%;

}

.main button {
    width: 40%;
    color: #1d3444; 
    background-color: #dceaf5;
    height: 52px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border: #dceaf5;
    border-radius: 27px;
    transition: 0.2s;
}
.main button:hover {
    color: white;
    background-color: #F58A07;
    transition: 0.3s;
}
.logos {
    display: flex;
    justify-content: space-between;
}
.company p { 
    color: rgba(57, 65, 73, 0.5);
    font-weight: 400;
    
}
.logos img {
    width: 25%;
}
h2 {
    color: #1D3444;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}
.poster {
    display: flex;
    justify-content: space-between;
}
.title {
    width: 60%;
}
.card {
    width: 30%;
}
.card img {
    border-radius: 20px;
}
.card p {
    font-size: 16px;
}
.supcard {
    width: 30%;
    background-color: white;
    border-radius: 20px;

}
.suphead {
    display: flex;
    justify-content: space-between;
}
h3 { 
    width: 50%;
    font-size: 24px;
    width: 100%;
    font-weight: 500;
}
h4 { 
    font-weight: 600;
    font-size: 36px;
    width: 50%;
    line-height: 44px;
}
h5 {
    font-size: 24px;
    font-weight: 600;;
}
.suphead p {
    width: 50%;
    font-size: 18px;
    padding-top: 25px;
}
.card p:last-child::after {
    content: '\2192';
    color: #F58A07;
}
.card p:last-child {
    color: #F58A07;
}
.supcard {
    padding-left: 15px;
}
.exp {
    display: flex;

}
.exphead {
    width: 50%;
}
.expcard {
    display: flex;
    justify-content: space-between;
}
.carder {
    width: 90%;
}
.carder p {
    font-size: 16px;
}
h6 { 
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #f58a07;
}
.exp img {
    border-radius: 20px;
}
.service {
    display: flex;
    justify-content: space-around;
    background-color: #edf7ff;
    border-radius: 20px;
}
.serviceleft {
    width: 50%;
}
.tab {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 16px;
}
.tab button {
    color: rgba(6, 50, 85, 0.3);
    width: 30%;
    background-color: #edf7ff;  
    border-radius: 31px;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
    border: solid #a8bccc 1px;
    transition: 0.2s;
}
.tab button:hover {
    color: #F58A07;
    background-color: #ffffff;
    transition: 0.3s;
}
.service p:last-child::after {
    content: '\2192';
    color: #F58A07;
}
.service p:last-child{
    color: #F58A07;
}
.vac {
    display: flex;
    height: 518px;
}
.vac img {
    width: 50%;
}
.energy {
    width: 50%; 
    background-color: #F58A07;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.energy h2 {
    color: white;
    width: 55%
}
.energy button {
    color: #F58A07 ;
    width: 30%;
    background-color: white;  
    border-radius: 31px;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
    border: solid #f58A07 1px;
}
.video {
    display: flex;
    justify-content: space-between;
}
.videoleft {
    width: 45%;
}
.profile h3 {
    color: #063255;
}
.profile {
    width: 40%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.profile p {
    color: #F58A07;
}
.botsec {
    display: flex;
    justify-content: space-between; 
}
.botcard {
    border-radius: 20px;
    background-color: white;
    width: 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botcard p {
    font-size: 16px;
    width: 90%;
}
.botcard img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.botcard p:last-child::after {
    content: '\2192';
    color: #F58A07;
}
.botcard p:last-child {
    color: #F58A07;
}
footer {
    background-color: #063255;
    color: white;
}
.footer p {
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.sns {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerleft {
    width: 30%;
}
.footerright {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.news {
    display: flex;
    flex-direction: column;
}
.footerbot {
    width: 100%;
    display: flex;
    color: white;

}
